@media screen and (max-width: 680px){
  /*Ãrea de Login*/
  .container-login{;
    margin-top: 10%;
  }
  .logo-login img{
    height: 50px;
  }
  .login{
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 100%;
  }
  .container-login button{
    min-width: 100%;
    height: 45px;
    font-weight: bold;
  }
  .alert-danger{
    height: 30px;
  }
  .header-reset-senha{
    /*color: #587ea7;*/
    font-weight: bold;
  }
  .header-reset-senha > h5{
  }
  .h5-reset{
    color: #3b4e78 !important;
    /*color: #f5f5f5 !important;*/
  }
}
@media screen and (max-width: 680px) and (orientation: landscape) {

}
